{% load static %}
{% include "components/pwa_meta.html" %}
{% if feature_flags %}{{ feature_flags|json_script:"edu-feature-flags" }}{% endif %}
<link rel="preconnect" href="https://unpkg.com">
<link rel="preconnect" href="https://cdn.tailwindcss.com">
<link rel="stylesheet" href="{% static 'css/edumanage-system.css' %}">
<link rel="stylesheet" href="{% static 'css/edumanage-legacy-pages.css' %}">
<link rel="stylesheet" href="{% static 'css/admin-module-actions.css' %}">
<link rel="stylesheet" href="{% static 'css/role-scope-clarity.css' %}">
<link rel="stylesheet" href="{% static 'css/mobile-pwa.css' %}">
<link rel="stylesheet" href="{% static 'css/phase-capability-nav.css' %}">
<link rel="stylesheet" href="{% static 'css/digital-twilight.css' %}">
<link rel="stylesheet" href="{% static 'css/adminhmd-inspired.css' %}">
<link rel="stylesheet" href="{% static 'css/fusion-workflows.css' %}">
<link rel="stylesheet" href="{% static 'css/fusion-scheduling.css' %}">
<script defer src="{% static 'js/edumanage-system.js' %}"></script>
<script defer src="{% static 'js/portal-shell.js' %}"></script>
<script defer src="{% static 'js/admin-module-actions.js' %}"></script>
<script defer src="{% static 'js/admin-link-fixes.js' %}"></script>
<script defer src="{% static 'js/role-scope-clarity.js' %}"></script>
<script defer src="{% static 'js/mobile-bottom-nav.js' %}"></script>
<script defer src="{% static 'js/pwa-lite.js' %}"></script>
<script defer src="{% static 'js/phase-capability-nav.js' %}"></script>
<script defer src="{% static 'js/digital-twilight.js' %}"></script>
<script defer src="{% static 'js/adminhmd-inspired.js' %}"></script>
<script defer src="{% static 'js/fusion-workflows.js' %}"></script>
