{% load static %}
<link rel="stylesheet" href="{% static 'css/edumanage-system.css' %}">
<link rel="stylesheet" href="{% static 'css/edumanage-legacy-pages.css' %}">
<link rel="stylesheet" href="{% static 'css/admin-module-actions.css' %}">
<link rel="stylesheet" href="{% static 'css/role-scope-clarity.css' %}">
<script defer src="{% static 'js/edumanage-system.js' %}"></script>
<script defer src="{% static 'js/admin-module-actions.js' %}"></script>
<script defer src="{% static 'js/role-scope-clarity.js' %}"></script>