{
 email {$CADDY_ACME_EMAIL}
 on_demand_tls {
  ask http://127.0.0.1:18081/_internal/caddy/allow-domain
 }
}
edumanage.leosoftug.com, schools.leosoftug.com, hotspotcloud.net, www.hotspotcloud.net, signalsolid.com, www.signalsolid.com, leosoftug.com, www.leosoftug.com {
 reverse_proxy 127.0.0.1:18081
}
*.schools.leosoftug.com {
 tls { on_demand }
 reverse_proxy 127.0.0.1:18081
}
https:// {
 tls { on_demand }
 reverse_proxy 127.0.0.1:18081
}
